.center {
    padding-top: 20px;
    width: 50%;
    margin: auto;
}

.list-group {
    margin-top: 10px;
}

.delete-button,
.update-button {
    float: right;
    margin-right: 5px;
}

.item-text {
    width: 75%;
    border: 0;
}

.link {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 37px;
}

.link:hover {
    color: white;
}

h1 {
    color: white;
    float: left;
}

.username {
    padding: 0;
}

.btn-dark {
    float: right;
    margin: 10px 10px 10px 0;
}

.item-text {
    line-height: 51px;
}
